<style type="text/css">
	.fileUpload {
	    position: relative;
	    overflow: hidden;
	    margin: 10px;
	}
	.fileUpload input.upload {
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin: 0;
	    padding: 0;
	    font-size: 20px;
	    cursor: pointer;
	    opacity: 0;
	    filter: alpha(opacity=0);
	}

</style>
<div class="container">
	<div class="panel panel-default">
	    <div class="panel-heading"><h3 class="panel-title">Last opp en fil</h3></div>
	    <div class="panel-body" style="margin-top: 10px;">
			<form method="post" action="upload.php">
				<div class="form-group">
					<label for="title">Tittel</label>
					<input type="text" class="form-control" name="title" id="title" placeholder="Tittel på video">
				</div>
				<div class="form-group">
					<label for="description">Beskrivelse</label>
					<textarea class="form-control" name="description" placeholder="Beskrivelse av video"></textarea>
				</div>
				<div class="form-group">
					<input id="uploadFile" class="form-control" placeholder="Velg fil" disabled="disabled" />
					<div class="fileUpload btn btn-primary">
						<span>Velg fil og last opp</span>
						<input type="file" id="file" class="upload" />
					</div>
				</div>
				<input type="hidden" id="filename" name="filename"/>
				<input type="hidden" id="filepath" name="filepath"/>
				<input type="hidden" id="mime" name="mime"/>
				<input type="hidden" id="size" name="filesize"/>
				<input type="hidden" id="duration" name="duration"/>
				<div class="form-group">
					<input class="btn btn-primary center-block" id="submitbutton" type="submit" value="Lagre videoen"/>
				</div>
				<span id="uploadSuccess" class="label label-success">File uploaded</span>
			</form>
		</div>
	</div>
</div>
